<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% extends 'frontend/base.html' %}
{% block content %}

<body background="/static/shmoury_assets/christo-tls.png">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title style="margin:1rem">Successful Admin Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 style="margin:1rem">Successful Admin Login!</h1>
        <h3 style="margin:1rem">Wow! You're REALLY not supposed to be here. Getting into an admin account is serious business...</h3>
        <br>
        <a style="margin:1rem">... good thing this is all just a fake site. Congrats, and here's that well-deserved flag: Flag{WEBCTF_@dmin_Christ0}</a>
    </body>
</html>
{% endblock %}
