<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% extends 'frontend/base.html' %}
{% block content %}
{% if logged_in %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title style="margin:1rem">Feedback Submitted Successfully</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 style="margin:1rem">Shmoury Admin Feedback Submitted</h1>
        {% if '<script>' and '</script>' in feedback %}
       <a style="margin:1rem"> Nice job with a successful XSS attack! Here's your flag: Flag{WEBCTF_EZPZEE_XSSsqueezy}</a>
        {% endif %}
        <br>
        <a style="margin:1rem">Thanks for submitting! Here's your feedback:</a>
        <br>
        <a style="margin:1rem">{{feedback}}</a>
        <br>
        
    </body>
</html>
{% else %}
<p>You are not logged in: {{ logged_in }}</p>
<a href="/login">Log In</a>
{% endif %}


{% endblock %}
