<!DOCTYPE html>
<html>
<body>
{% extends 'frontend/base.html' %}
{% block content %}

{% if success %}
<h3 style="margin:1rem">Successful password recovery!</h3><br>
<a style="margin:1rem">Nice work. This is why weak, predictable, or Google-able knowledge-based questions for password recovery are insecure. Here is your flag: Flag{WEBCTF_St@lKING_5killz}</a>

<h3 style="margin:1rem">Set new password for user: <b>cbw</b></h3>
    <form method="post", action="{% url 'frontend:admin_new_password_submit'%}" style="margin:1rem">
        {% csrf_token %}
        <label for="password">New Password</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
        <br>
    </form>
{% else %}
<h3 style="margin:1rem">Incorrect answers. Please try again.</h3><br>
<a href="/forgot-password" style="margin:1rem">Go Back</a>

{% endif %}

{% endblock %}
</body>
</html>
