<!DOCTYPE html>
<html>
<body>
{% extends 'frontend/base.html' %}
{% block content %}
<h3 style="margin:1rem">Forgot Your Password?</h3>
<a style="margin:1rem">Username: <b>{{username}}</b></a><br><br>

{% if username == "cbw" %}

<form action="{% url 'frontend:forgot_pw_kbq_submit'%}" method="post" style="margin:1rem">
    {% csrf_token %}
    <label for="fname">What is your favorite color?</label><br>
    <input type="text" id="answer1" name="answer1" required><br><br>
    <label for="fname">Where did you go to school?</label><br>
    <input type="text" id="answer2" name="answer2" required><br><br>
    <label for="fname">What did you study?</label><br>
    <input type="text" id="answer3" name="answer3" required><br><br>
<input type="submit" value="Submit">


{% else %}
<a style="margin:1rem">Sorry, this account doesn't have KBQ set up.</a><br>
<a href="/forgot-password">Go Back</a>
{% endif %}

{% endblock %}
</body>
</html>